/* Fundo geral */
body {
    background-color: #424242 !important;
    color: #ffffff !important;
}

/* Barra superior clara */
.bg-light.border-bottom {
    background-color: #f8f9fa !important;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 1);
}

.bg-light.border-bottom a,
.bg-light.border-bottom .dropdown-toggle {
    color: #000 !important;
}

.dropdown-menu {
    background-color: #ffffff !important;
}
/* Barra Superior */
.topbar {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

/* Container centralizado */
.topbar-container {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: center; /* Deixa os itens centralizados */
    gap: 40px;               /* Distância entre os itens */
}

/* Links da barra */
.topbar a {
    font-weight: 600;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    padding: 4px 8px;
    transition: 0.2s ease;
}

/* Hover com efeito suave */
.topbar a:hover {
    color: #007bff;
    transform: translateY(-1px);
}
.dropdown-menu a {
    color: #000 !important;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1 !important;
}

.custom-navbar {
    background-color: #424242;
}

/* CARD ESTILO PICHAU */
.product-card {
    background-color: #2f2f2f;
    border-radius: 12px;
    overflow: hidden;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, .4);
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, .7);
}

.product-img {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1e1e1e;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-img img {
    max-height: 140px;
    object-fit: contain;
}

.product-title {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    min-height: 38px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #0d6efd; /* Azul */
    margin-bottom: 10px;
}

.btn-buy {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-radius: 8px;
    background-color: #0d6efd; /* Azul */
    color: #fff;
    font-weight: bold;
    transition: background 0.2s ease;
}

.btn-buy:hover {
    background-color: #0b5ed7; /* Azul escuro */
}

.product-badge {
    background-color: #ff1744;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 6px;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Ajuste search bar */
form {
    width: 75%;
}
